<h2>Courses ({{courses.length}})</h2>

<div class="row">
  <div *ngFor="let course of courses" class="col-sm-4">
    <div class="card wbdv-admin-course-card">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <div class="card-text">List of Sections :-
          <span (click)="createSection(course)" class="float-right" title="Add Section"> <i class="fa fa-plus"></i>  </span>
        </div>
        <ul class="list-group">
          <li *ngFor="let section of course.sections" class="list-group-item">
            <span [swal]="{ title: 'Enter New Section Name', input: 'text' }"
                  (confirm)="editSection($event, 'name', section)">
              {{section.name}}
            </span>
            <br/>
            <span [swal]="{ title: 'Enter New Total Seats', input: 'number' }"
                  (confirm)="editSection($event, 'seats', section)">Seats: {{section.seats}}</span>
            <span (click)="deleteSection(course,section)"
                    class="float-right" title="Remove Section"><i class="fa fa-times"></i></span>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
