<app-white-board-nav></app-white-board-nav>

<div class="container">
  <div class="row">

    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">


          <h1>Profile</h1>

          <form>
            <fieldset>

              <div class="form-group">
                <label for="usernameFld">Username</label>
                <input [(ngModel)]="username" name="username" type="username" class="form-control" id="usernameFld"
                       placeholder="Enter Username" disabled>
              </div>
              <div class="form-group">
                <label for="firstNameFld">First Name</label>
                <input [(ngModel)]="firstName" name="firstName" type="text" class="form-control" id="firstNameFld"
                       placeholder="First Name">
              </div>
              <div class="form-group">
                <label for="lastNameFld">Last Name</label>
                <input [(ngModel)]="lastName" name="lastName" type="text" class="form-control" id="lastNameFld"
                       placeholder="Last Name">
              </div>
              <div class="form-group">
                <label for="phoneFld">Phone</label>
                <input [(ngModel)]="phone" name="phone" type="text" class="form-control" id="phoneFld"
                       placeholder="Phone">
              </div>
              <div class="form-group">
                <label for="emailFld">Email</label>
                <input [(ngModel)]="email" name="email" type="email" class="form-control" id="emailFld"
                       placeholder="Email">
              </div>
              <div class="form-group">
                <label for="addressFld">Address</label>
                <input [(ngModel)]="address" name="address" type="text" class="form-control" id="addressFld"
                       placeholder="Address">
              </div>
              <button (click)="update()" class="btn btn-info" id="wbdv-updateProfile">Update Profile</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-6">

      <div class="card">
        <div class="card-body">
          <h2>Sections ({{studentSections.length}})</h2>
          <ul class="list-group">
            <li *ngFor="let s of studentSections" class="list-group-item">
              {{s.name}}
            </li>
          </ul>
        </div>
      </div>

      <div class="card" style="margin-top: 10px;">
        <div class="card-body">
          <h2>Courses ({{studentCourses.length}})</h2>
          <ul class="list-group">
            <li *ngFor="let course of studentCourses" class="list-group-item">
              <a routerLink="/course/{{course.id}}"
                 >
                {{course.title}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>

  </div>
</div>
