<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" href="#">WhiteBoard</a>

  <div class="navbar-collapse" >
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" [hidden]="!isLoggedIn" routerLink="/profile">Profile <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" [hidden]="!isAdmin" routerLink="/admin-console">Admin Console<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" [hidden]="!isLoggedIn" routerLink="" (click)="logout()">Logout <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" [hidden]="isLoggedIn" routerLink="/login">Login <span class="sr-only">(current)</span></a>
    </div>
  </div>
  </div>
</nav>
