<app-white-board-nav></app-white-board-nav>

<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h1>Register</h1>
      <div id="registerForm" class="wbdv-form">
        <fieldset>
          <div class="form-group usernameGrp createGrp">
            <label for="usernameFld">Username</label>
            <input [(ngModel)]="username" type="text" class="form-control" id="usernameFld" name="usernameFld"
                   placeholder="Enter Username" autofocus required minlength="1" maxlength="40" autofocus>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group passwordGrp createGrp">
            <label for="passwordFld">Password</label>
            <input [(ngModel)]="password" type="password" class="form-control" id="passwordFld" name="passwordFld"
                   placeholder="Enter Password" required minlength="1" maxlength="40">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group passwordGrp createGrp">
            <label for="verifyPasswordFld">Verify Password</label>
            <input [(ngModel)]="password2" type="password" class="form-control" id="verifyPasswordFld"
                   name="verifyPasswordFld" placeholder="Enter Password again" required data-match="#passwordFld"
                   data-match-error="Whoops, passwords don't match">
            <div class="help-block with-errors"></div>
          </div>
          <button (click)="register(username, password, password2)" class="btn btn-info btn-block wbdv-register">
            Register
          </button>
          <div class="row">
            <div class="col-6">
              <a routerLink="/login" class="text-info">Login</a>

            </div>
            <div class="col-6">
              <a routerLink="/home" class="float-right text-info">Home</a>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>

