<app-white-board-nav></app-white-board-nav>


<div class="container">
  <h1>{{form.name}}</h1>
  <div class="card wbdv-margin-top-10">
    <div class="card-body wbdv-margin-left-right-20">

      <div *ngFor="let element of form.elements">
        <div [ngSwitch]="element.elementType">


          <div *ngSwitchCase="'INPUT'">
            <div class="form-group {{(element.labelDirection === 'Horizontal' ? 'row wbdv-row' : '')}}">
              <label class="col-sm-2 col-form-label"
                     id="T{{topicId}}Elem{{element.orderno}}Label">{{element.label}}</label>
              <div class="col-sm-10">
                <div className="form-check">
                  <input (change)="changeAnswer($event, element)"
                         class="form-control"
                         placeholder="Add Input here"
                         id="T{{topicId}}Elem{{element.orderno}}Input"/>
                </div>
              </div>
            </div>
          </div>


          <div *ngSwitchCase="'CHECKBOX'">
            <div class="form-group {{(element.labelDirection === 'Horizontal' ? 'row wbdv-row' : '')}}">
              <label class="col-sm-2 col-form-label"
                     id="T{{topicId}}Elem{{element.orderno}}Label">{{element.label}}</label>
              <div class="col-sm-10">
                <div *ngFor="let line of element.options.split('\n'); index as i" [attr.data-index]="i" className="form-check">
                  <input (change)="changeAnswerList($event, element, i)"
                         class="form-check-input" type="checkbox"
                         name="T{{topicId}}Elem{{element.orderno}}"
                         id="T{{topicId}}Elem{{element.orderno}}Checkbox{{i}}"
                         value={{i}} />
                  <label class="form-check-label"
                         id="T{{topicId}}Elem{{element.orderno}}Checkbox{{i}}Label"
                         htmlFor="T{{topicId}}Elem{{element.orderno}}Checkbox{{i}}">
                    {{line}}
                  </label>
                </div>
              </div>
            </div>
          </div>


          <div *ngSwitchCase="'RADIO'">
            <div class="form-group {{(element.labelDirection === 'Horizontal' ? 'row wbdv-row' : '')}}">
              <label class="col-sm-2 col-form-label"
                     id="T{{topicId}}Elem{{element.orderno}}Label">{{element.label}}</label>
              <div class="col-sm-10">
                <div *ngFor="let line of element.options.split('\n'); let i = index" className="form-check">
                  <input (change)="changeAnswer($event, element)"
                    class="form-check-input" type="radio"
                         name="T{{topicId}}Elem{{element.orderno}}"
                         id="T{{topicId}}Elem{{element.orderno}}Radio{{i}}"
                         value={{line}}/>
                  <label class="form-check-label"
                         id="T{{topicId}}Elem{{element.orderno}}Radio{{i}}Label"
                         htmlFor="T{{topicId}}Elem{{element.orderno}}Radio{{i}}">
                    {{line}}
                  </label>
                </div>
              </div>
            </div>
          </div>


          <div *ngSwitchCase="'SELECT'">
            <div class="form-group {{(element.labelDirection === 'Horizontal' ? 'row wbdv-row' : '')}}">
              <label class="col-sm-2 col-form-label"
                     id="T{{topicId}}Elem{{element.orderno}}Label">{{element.label}}</label>
              <div class="col-sm-10">
                <select multiple>
                <div *ngFor="let line of splitter(element); let i = index; " className="form-check">
                  <optgroup *ngIf="line.substr(0, 1) == '[' && line.slice(-1) == ']'">
                    <option value={{line}}>{{line}}</option>
                  </optgroup>
                  <option *ngIf="!(line.substr(0, 1) == '[' && line.slice(-1) == ']');" value={{line}} >
                    {{line}}
                  </option>
                </div>
                </select>
              </div>
            </div>
          </div>


          <div *ngSwitchCase="'TEXTAREA'">
            <div class="form-group {{(element.labelDirection === 'Horizontal' ? 'row wbdv-row' : '')}}">
              <label class="col-sm-2 col-form-label"
                     id="T{{topicId}}Elem{{element.orderno}}Label">{{element.label}}</label>
              <div class="col-sm-10">
                <div className="form-check">
                  <textarea (change)="changeAnswer($event, element)"
                            class="form-control"
                            placeholder="Add Text here"
                            id="T{{topicId}}Elem{{element.orderno}}Input"></textarea>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <button class="btn btn-primary" (click)="submitForm()">Submit</button> <button class="btn btn-danger" (click)="cancelForm()">Cancel</button>

    </div>
  </div>
</div>
